<div class="chat-messages">
  <div
    *ngFor="let message of messages()"
    class="message"
    [ngClass]="message.sender"
  >
    <div class="message-header">
      <span class="message-sender">{{ message.sender }}: </span>
      <span class="message-timestamp">{{
        message.timestamp | date : "short"
      }}</span>
    </div>
    <div class="message-content">
      {{ message.content }}
    </div>
  </div>
  <app-chat-input (sendMessageEvent)="sendMessage($event)"></app-chat-input>
</div>
